@charset "UTF-8";

form {
	width: 500px;
	margin: auto;
}

input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255, 255, 255,.8);
}

input:hover, textarea:hover {
	background-color: #DCDCDC;
}

legend {
	color: #696969;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}

fieldset {
	border-color: #cecece;
	margin: 20px;
}

fieldset#sexo {
	width: 150px;
	margin: left;
}


fieldset#usuario {
	background: url("../imagens/icone-contato.png") no-repeat 95% 95%;

}


fieldset#endereco {
	background: url("../imagens/icone-endereco.png") no-repeat 95% 95%;
	width: 600px;
	margin-left:  -55px;
}

fieldset#mensagem {
	background: url("../imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido {
	background: url("../imagens/icone-pagamento.png") no-repeat 95% 95%;
}

input#env {
	width: 100px;
	margin-right: 205px;
	padding: 0px;
	float: right;
	background-color: rgba(255, 255, 255,.8);
}


.l{
	margin-left: -60px;
	padding: -5px;

}

